<nav class="navbar navbar-expand-lg navbar-dark bg-primary bg-opacity-75">
    <div class="container-fluid">
        <div class="d-flex align-items-center">
            <a href="#" class="navbar-brand me-4">Expense Tracker</a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav" *ngIf="authService.currentUser$ | async">
            <div class="navbar-nav">
                <a class="btn btn-outline-light me-2 nav-item" [routerLink]="'/add'">
                    <i class="bi bi-plus-circle"></i>
                    Add Transaction
                </a>
                <a class="btn btn-outline-light me-2 nav-item" (click)="authService.logout()">
                    <i class="bi bi-box-arrow-right"></i>
                    Logout
                </a>
            </div>
        </div>

        <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav" *ngIf="!(authService.currentUser$ | async)">
            <div class="navbar-nav">
                <a class="btn btn-outline-light me-2 nav-item" [routerLink]="'/login'">
                    <i class="bi bi-box-arrow-in-right"></i>
                    Login
                </a>
            </div>
        </div>
    </div>
</nav>